@model RestaurantNetCore.Model.Menu

@{
    ViewData["Title"] = "test";
}

<h2>View</h2>

<form asp-action="test" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Menu</h4>
        <hr />
        
        <input type="file" name="files" multiple />
        <input type="submit" value="Upload" />
        
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

