@{
    Layout = "~/Views/Shared/_No_Layout.cshtml";
    ViewBag.Title = "Menu";
}

<div class="row" style="margin:auto;">
    <a asp-controller="Kitchen" asp-action="Index"><img src="~/images/kitchen.jpg" /></a>
    <a asp-controller="Waiter" asp-action="Index"><img src="~/images/order.png" /></a>
    <a href="#"><img src="~/images/cashier.png" /></a>
</div>


