.heigh {
        max-height:28vw;
    }

.heigh2{
    max-height:33vw;
}

.fon{
    font-size:1.4vw;
}

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
    .heigh {
        max-height:20vh;
    }
    .heigh2{
        max-height:30vh;
        height:unset;
    }
}
@media (max-device-width : 768px) {

    .heigh2{
        max-height:17vh;
        
    }
}