<!DOCTYPE html>
<html ng-app="testApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantNetCore</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-resource/angular-resource.js"></script>
        <script src="~/lib/ui-bootstrap.min/ui-bootstrap-tpls.min.js"></script>
        <script src="~/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>


        <script src="~/Angular/Module.js"></script>
        <script src="~/Angular/Controller.js"></script>
        <script src="~/Angular/Service.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-resource/angular-resource.js"></script>
        <script src="~/lib/ui-bootstrap.min/ui-bootstrap-tpls.min.js"></script>
        <script src="~/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>


        <script src="~/Angular/Module.js"></script>
        <script src="~/Angular/Controller.js"></script>
        <script src="~/Angular/Service.js"></script>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>


</head>
<body style="overflow:hidden">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">RestaurantNetCore</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Main">Main</a></li>


                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>

                     @if (User.IsInRole("Admin"))
                     {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Restaurant<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Menu" asp-action="index">Menu</a></li>
                                <li><a asp-controller="Category" asp-action="Index">Category</a></li>
                                <li><a asp-controller="Table" asp-action="Index">Table</a></li>
                                <li><a asp-controller="Bill" asp-action="Index">Bill</a></li>
                                <li><a asp-controller="Order" asp-action="Index">Order</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Auth<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="ApplicationUser" asp-action="Index">Application User</a></li>
                                <li><a asp-area="" asp-controller="ApplicationRole" asp-action="Index">Application Role</a></li>
                                <li><a asp-area="" asp-controller="ApplicationUserRole" asp-action="Index">Application User Role</a></li>
                            </ul>
                        </li>
                     }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid" ng-controller="testcontroller">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
